.FurtherCategory{
    background: antiquewhite;
    position: fixed;
    color: #2d1671;
    top: 85px;
    display: flex;
    flex-direction: column;
    width: 157px;
    left: 302px;
    height: calc(100% - 85px);
    z-index: 10;
}

.FurtherCategoryItem h2{
    /* background: antiquewhite; */
    text-align: center;
    margin: 2px 0;
    padding: 5px 0px;
    color: saddlebrown;
    cursor: pointer;
    font-size: smaller;
}

.FurtherCategoryItem h2:hover{
    background: #efcfa4;
    color:#2d1671 ;
}